*,
::after,
::before    
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

h3 + p{
    color: darkolivegreen;
    text-align: center;
}

.contenedor{
    padding: 80px 0;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}